<app-navbar-student></app-navbar-student>

<div class="mapa-container">
    <h2>UBICACION</h2>
    <hr>
    <div class="busqueda bg-dark">
        <label for="">Salón a buscar</label>
        <form class="form-inline d-flex">
            <div class="form-group">
                <label for="inputPassword2" class="sr-only">Salón</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Ej. 11-102">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8053335449695!2d-74.07271368523793!3d4.628792096637471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a29f243239f%3A0x6714af5698816365!2sUNINPAHU%20-%20Instituci%C3%B3n%20Universitaria!5e0!3m2!1ses-419!2sco!4v1652802791383!5m2!1ses-419!2sco"
        style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>